---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 17 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is ``[REDACTED]``. I'm 27 years old. Living with diabetes, long Covid with CFS (chronic Fatiuge Syndrome), and PEM (Post External Malaise). 
		The reason I write is to share my perspective on living with chronic illnesses. Sharing knownledge through that of what I have picked up from other disabled friends in my life. 
		I was diagnosed with diabetes at the age of 12. 3 months after i revcovered from the H1N1 flu infection. Years later I became a chef, then after 8 years I had to change my careers. 
		To become a full-time disabled, with the diagnoses of Long covid, Chronic pain, and fatiuge. Please join me in wearing a well fitted N95 (or better) mask in public, as to not disabled any more people.  
	</p>


</Layout>
