---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="social-links">
		<a href="https://beige.party/@bront" target="_blank">
			<span class="sr-only">Follow bront on Mastodon</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/mastodon"
				><path
					fill="currentColor"
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
				></path></svg
			>
		</a>
 
		<a href="https://github.com/diabeticturtle" target="_blank">
			<span class="sr-only">Go to Bronts GitHub repo</span>
			<svg 
				viewBox="0 0 16 16" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>

		<a href="https://bsky.app/profile/diabetes.forsale" target="_blank">
   <span class="sr-only">Follow Bront on Bluesky</span>
   <svg 
   		viewBox="0 0 16 16" 
		aria-hidden="true" 
		width="32" height="32" 
		astro-icon="social/bluesky"
	><path 
	 	fill="currentColor"
		xmlns="http://www.w3.org/2000/svg" 
		class="cls-1" 
		d="M73.92,98.89c-.84,2.08-1.46,4.28-2.55,6.22-3.82,6.76-7.08,14.01-11.92,19.96-5.59,6.86-13.35,7.67-21.3,3.71-7.92-3.94-14.36-9.72-18.83-17.38-5.17-8.87-3.39-17.4,5.19-23.05,4.6-3.03,9.89-5.01,15.51-7.78-3.81-.36-7.07-.43-10.23-1-17.35-3.08-25.68-12.5-26.97-30.11C2.03,38.84,1.08,28.23,.21,17.61c-.07-.83-.18-1.66-.2-2.49C-.27,2.45,6.98-3.25,18.57,1.88c7.6,3.36,14.82,8.32,21.03,13.88,12.99,11.62,23.03,25.79,31.77,40.85,.82,1.42,1.68,2.82,3.05,5.1,1.26-1.97,2.21-3.36,3.06-4.81,10.46-17.77,22.36-34.48,38.88-47.08,5.62-4.29,12.68-7.24,19.54-9.23,6.73-1.96,11.57,1.81,12.29,8.78,.64,6.23,.35,12.61-.08,18.88-.58,8.46-1.89,16.86-2.51,25.31-1.06,14.42-12.03,25.41-30.47,26.51-1.8,.11-3.61,.01-5.68,1.09,1.23,.52,2.49,.99,3.69,1.56,3.88,1.86,8.04,3.32,11.56,5.72,8.26,5.63,10.13,14.01,5.15,22.7-4.59,8-11.26,14.01-19.61,17.92-7.65,3.58-15.07,2.75-20.44-3.8-4.87-5.93-8.2-13.15-12.04-19.89-1.12-1.97-1.7-4.25-2.53-6.39-.43-.03-.87-.07-1.3-.1Z"/>
	</svg>
	 
   
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
